
.bookapp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  padding: 20px;
  background-image: url('https://img.onmanorama.com/content/dam/mm/en/lifestyle/health/images/2020/12/1/medical-doctor-c.jpg'); 
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
  box-sizing: border-box;
  overflow: auto; 
}


.formcont {
  background-color: rgba(255, 255, 255, 0.9); 
  padding: 30px;
  width: 350px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  text-align: left; 
  overflow: auto; 
  max-height: 80vh;
}


.formcont label {
  font-weight: bold;
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}


.formcont input {
  width: 95%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  margin-bottom: 15px;
}


.formcont input[type="radio"] {
  width: auto;
  margin-right: 10px;
}

.formcont fieldset {
  border: none;
  margin: 15px 0;
  padding: 10px;
}


.formcont legend h3 {
  font-size: 18px;
  color: #555;
  margin-bottom: 10px;
}


.formcont button {
  margin-top: 20px;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}


.formcont button:hover {
  background-color: #0056b3;
}


@media (max-width: 768px) {
  .formcont {
    width: 80%; 
  }

  .formcont label {
    font-size: 14px;
  }

  .formcont input {
    padding: 8px;
  }

  .formcont button {
    font-size: 14px;
    width: 100%;
  }
}
